.navbar-nav{
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* O el valor que desees para el espacio entre elementos */
}
.navbar-brand {
  align-items: center !important;
}
.navbar-nav li a {
    color: black;
    text-decoration: none;
  }
.imagen-logo {
  width: 40px;
}

@media screen and (min-width: 1200px) {
  .navbar-expand-lg .navbar-collapse .navbar-toggler {
    display: none;
  }
}


